@import '@styles/variables';

.activityCont {
  display: flex;
  margin-top: 18px;
  margin-bottom: 16px;

  // TODO: ui component
  button {
    color: $text-color;
    background: none;
    padding: 0 10px 5px 10px;
    margin: 0 15px 0 0;
    cursor: pointer;
    border: none;

    &.active, &:hover {
      padding-bottom: 3px;
      border-bottom: 2px solid $main-color;
    }
  }
}

.progressbarCont {
  width: 200px;
  height: 200px;
  margin: 0px auto 16px;

  &:active {
    padding: 2px;
    transition: all 30ms linear;
  }

  .statusHiddenButton {
    color: $text-color;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
  }

  .status {
    position: absolute;
    bottom: 20%;
  }
}

.pomodoroCount {
  height: 20px;
  margin-bottom: 16px;
}