// Colors:
// - #282d30
// - #2f93d5
// - #f0f9ff
// - #e0f3ff
// - #faf7f7
$bg-color: #282d30;
$main-color: #2f93d5;
$main-color-shadow: rgba(#2f93d5, 0.3);
$text-color: #f0f9ff;

// Fonts
$main-font-family: 'Roboto', sans-serif;